@tailwind base;
@tailwind components;
@tailwind utilities;
@import "yet-another-react-lightbox/styles.css";
@import 'leaflet/dist/leaflet.css';


@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DancingScript';
  src: url('./fonts/DancingScript.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  h1,
  .h1 {
      @apply font-bold;
      @apply text-[1.75rem] leading-[2.375rem];
      @apply md:text-[3rem] md:leading-[3.5rem];
      @apply xl:text-[4rem] xl:leading-[5rem];

      &.hardcoded {
          @apply text-[1.75rem] leading-[2.375rem];
          @apply md:text-[3rem] md:leading-[3.5rem];
          @apply xl:text-[3rem] xl:leading-[3.5rem];
      }
  }

  h2,
  .h2 {
      @apply font-bold;
      @apply text-[1.5rem] leading-[2.125rem];
      @apply md:text-[1.75rem] md:leading-[2.375rem];
      @apply xl:text-[2.5rem] xl:leading-[3.375rem];
  }

  h3,
  .h3 {
      @apply font-bold;
      @apply text-[1.25rem] leading-[1.875rem];
      @apply md:text-[1.25rem] md:leading-[1.875rem];
      @apply xl:text-[1.75rem] xl:leading-[2.375rem];
  }

  h4,
  .h4 {
      @apply font-medium;
      @apply text-[1rem] leading-[1.5rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
      @apply xl:text-[1.25rem] xl:leading-[1.875rem];
  }

  h5,
  .h5 {
      @apply font-medium;
      @apply text-[0.875rem] leading-[1.375rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
  }

  .text-b {
      @apply font-medium;
      @apply text-[1rem] leading-[1.5rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
      @apply xl:text-[1.25rem] xl:leading-[1.875rem];
  }

  .text-lg {
      @apply font-light;
      @apply text-[1rem] leading-[1.5rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
      @apply xl:text-[1.25rem] xl:leading-[1.875rem];
  }

  .text-sm-b {
      @apply font-medium;
      @apply text-[0.875rem] leading-[1.375rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
      @apply xl:text-[1rem] xl:leading-[1.5rem];
  }

  .text-sm {
      @apply font-light;
      @apply text-[0.875rem] leading-[1.375rem];
      @apply md:text-[1rem] md:leading-[1.5rem];
      @apply xl:text-[1rem] xl:leading-[1.5rem];
  }

  .text-xs {
      @apply font-light;
      @apply text-[0.75rem] leading-[1.125rem];
      @apply md:text-[0.75rem] md:leading-[1.125rem];
      @apply xl:text-[0.75rem] xl:leading-[1.125rem];
  }
}

@layer components {
  /* Navigationselement */
  .nav-item {
    @apply relative text-base font-semibold uppercase mx-4 cursor-pointer;
  }

  .nav-item a {
    @apply no-underline text-black relative transition-all duration-300;
  }

  /* Hover-Effekt für Links */
  .nav-item a::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 h-[2px] bg-grey-dark transition-all duration-300;
  }

  .nav-item a:hover::after {
    @apply w-full;
  }

  /* Dropdown-Menü */
  .dropdown {
    @apply hidden absolute top-full left-1/2 -translate-x-1/2 bg-white shadow-lg rounded-lg p-2 z-10;
    transform-origin: top center;
    transition: all 0.3s ease-in-out;
  }

  /* Links im Dropdown */
  .dropdown a {
    @apply block px-4 py-2 text-black hover:bg-gray-100 transition-colors duration-200;
  }

  /* Sichtbarkeit des Dropdowns bei Hover */
  .nav-item:hover .dropdown {
    @apply block;
  }
}
